.navbar-styling {

    display: flex;
    background-color: #272727;
    align-items: center;
    justify-content: space-around;
}

.nav-link{

    color: goldenrod;
}

.app-logo{

    height: 100px;
    
}

