.navbar-styling {

    display: flex;
    background-color: #272727;
    align-items: center;
    justify-content: space-around;
}

.nav-link{

    color: goldenrod;
}

.app-logo{

    height: 100px;
    
}

.logout{
    border: solid goldenrod;
    border-width: 1px;
    color: goldenrod;
    border-radius: 10px;
    background: none;
    font-size: 14px;
    width: 100px;
}